/* Global styles */
body {
    background-color: #646688; /* Change background color */
    font-family: 'Roboto', sans-serif; /* Set body text font to Roboto */
    color: #310b2b; /* Text color */
    text-align: center; /* Align all text to center */
    line-height: 1.5; /* Increase line spacing for better readability */
    font-weight: 400; /* Set font weight to normal (400) */
}


/* Image styles */
img {
    display: block; /* Make images display as block elements */
    margin: 0 auto; /* Center-align images horizontally */
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio of images */
}

/* Header styles */
header {
    background-color: rgb(142, 163, 184); /* Header background color */
    color: #441d3a; /* Header text color */
    padding: 20px;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Header text styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Set headings font to Montserrat */
    font-weight: bold; /* Make all headers bold */
    font-size: 32px; /* Increase font size for all headers */
}
